@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #212121;
  --third-background-color: #ffffff;

  --primary-text-color: #f00b1f;
  --secondary-text-color: #212121;

  --primary-border-color: #f00b1f1a;
}

body {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--primary-background-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect {
  background: linear-gradient(
    90deg,
    rgba(240, 11, 31, 0.2) 0%,
    rgba(255, 255, 255, 0.001) 60%
  );
}

.top-tile-floor {
  inset: 0;
  background-color: transparent;
  overflow: hidden;
}

.top-tile-floor::before {
  content: "";
  position: absolute;
  inset: -0% -100%;
  background-image:
    linear-gradient(to right, rgba(240, 11, 31, 0.08) 4px, transparent 1px),
    linear-gradient(to bottom, rgba(240, 11, 31, 0.08) 4px, transparent 1px);

  background-size: 80px 80px;

  transform: perspective(800px) rotateX(-48deg);
  transform-origin: top;

  opacity: 0.5;
}

.bottom-tile-floor {
  inset: 0;
  background-color: transparent;
  overflow: hidden;
}

.bottom-tile-floor::before {
  content: "";
  position: absolute;
  inset: -5% -100%;

  background-image:
    linear-gradient(to right, rgba(240, 11, 31, 0.08) 4px, transparent 1px),
    linear-gradient(to bottom, rgba(240, 11, 31, 0.08) 4px, transparent 1px);

  background-size: 80px 80px;

  transform: perspective(800px) rotateX(50deg) scale(1);
  transform-origin: bottom;

  opacity: 0.7;
  z-index: -111;
}
